
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #d69df7;
    --background-color: #f8cef9;
    --dark-color: #483751;
}

html{
    font-size: 62.5%; /* equivale a 10px */
    font-family: "montserrat", sans-serif ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    max-width: 120rem;
    margin: 0 auto;
}


.container-header{
    background-color: var(--background-color);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.atencion-cliente{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.atencion-cliente i{
    font-size: 3.5rem;
}

.contenido-atencion-cliente{
    display: flex;
    flex-direction: column;
}

.container-logo{
    display: flex;
    align-items: center;
    gap: .5rem;

    
}

#paypal-button-container{
    padding-right: 100px;   
}
.col-6 h4, .table-responsive{
    padding-top: 50px;
}

.img-logo{
    height: 10rem;
    width: 10.5rem;
    border-radius: 20px;
    margin-left: -15rem;
    cursor: pointer;
}

.container-logo h1 a{

    text-decoration: none;
    color: black;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.container-usuario{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.container-usuario .usuario-nombre {
    align-self: center;
}

.container-usuario .logout {
    text-decoration: none;
    color: var(--primary-color); /* Usa un color de tu paleta */
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: var(--background-color); /* Fondo similar al del header */
    transition: background-color 0.3s ease;
}

.container-usuario .logout:hover {
    background-color: var(--primary-color); /* Cambio de color al pasar el ratón */
    color: white;
}

.container-usuario .fa-user{
    font-size: 3rem;
    color: var(--primary-color);
    padding-right: 2.5rem;
    border-right: 1px solid rgb(131, 0, 167);
}


.container-usuario .fa-basket-shopping{
    font-size: 3rem;
    color: var(--primary-color);
    padding-left: 1rem;
}

.contenido-carrito-compras{
    display: flex;
    flex-direction: column;

}

.container-navbar{
    border-top: 2px solid #cb91ec;
    border-bottom: 2px solid #cb91ec;
    background-color: var(--primary-color);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.navbar .fa-bars{
    display: none;
}

.menu{
    display: flex;
    gap: 2rem;
}

.menu li{
    list-style: none;
}

.menu a{
    text-decoration: none;
    font-size: 2rem;
    color: var(--dark-color);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.menu a::after{
    content: "";
    width: 3rem;
    height: 1px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all .3s ease;
}

.menu a:hover::after{
    opacity: 1;
}

.menu a:hover{
    color: white;
}

.barra-busqueda{
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 2rem;
    background-color: white;
    height: 4.5rem;
    overflow: hidden;
}

.barra-busqueda input{
    outline: none;
    font-family: inherit;
    border: none;
    width: 25rem;
    font-size: 1.5rem;
    padding: 0 2rem;
    color: #58008b;
    cursor: text;
}

.barra-busqueda input::-webkit-search-cancel-button{
    appearance: none;
}

.btn-buscar{
    border: none;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
    cursor: pointer;
}

.btn-buscar i{
    font-size: 2rem;
    color: white;
}


/*MEDIA QUERIES -- 768PX*/
@media  (max-width: 768px){
    
    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }

    .atencion-cliente{
        display: none;
    }

    .contenido-carrito-compras{
        display: none;
    }
    .container-logo {
        margin-left: 20%;
    }

    .navbar{
        padding: 1rem 2rem;
    }
    .navbar .fa-bars{
        display: block;
        color: #fff;
        font-size: 3rem;
    }
    .menu{
        display: none;
    }
    
}


/*MEDIA QUERIES -- 468PX*/
@media  (max-width: 589px){


    .container-logo {
        margin-left: 30%
    }

}






.img1, .chocoHelado, .torta, .malteada {
    height: 350px;
    width: 300px;
    margin-top: 30%;
    border-radius:20px 20px 0 0;
    cursor: pointer;
    background-color: rgb(240, 188, 241);
    padding: 10px 10px;
    box-shadow: 6px 6px 14px -1px rgba(148,148,148,1)

}

.imagen-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.texto {
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

.imagenes {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.container-info-img{
    background-color: aliceblue;
    width: 300px;
    padding: 0 5%;
    border-top: 2px solid rgb(221, 148, 225);
    box-shadow: 6px 6px 14px -1px rgba(148,148,148,1);
}



/* styles.css */
.user-logged-in {
    pointer-events: none; /* Deshabilita los clics en el icono */
    opacity: 0.5; /* Opcional, para dar un efecto visual */
}



.container-info-img button{
    font-size: 1.5rem;
    background-color: rgb(243, 185, 255);
    color: #000000;
    border: none;
    cursor: pointer;
    width: 60%;
    margin: 0 20%;
    padding: 2px;
    margin-bottom: 5%;
    border-radius: 20px;

}
.container-info-img button:hover{
    background-color: rgb(203, 117, 220);


}
.container-info-img h2, p, h3{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.container-info-img p{
    font-size: 1.25rem;
}
.container-info-img h2{
    margin-bottom: 10px;
}

.container-verproducto{
    background-color: aliceblue;
    min-height: 50px;
    width: 300px;
    padding: 0 10px; 
    border-top: 2px solid rgb(211, 211, 211);
    border-radius: 0 0 20px 20px;
    border-bottom: 2px solid rgb(167, 167, 167);
    box-shadow: 6px 6px 14px -1px rgba(148,148,148,1);
}
.container-verproducto a{
    font-size: 1.7rem;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
}

.container-verproducto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-verproducto:hover{
    background-color: rgb(229, 160, 229);
    cursor: pointer;
    border-bottom: 2px solid rgb(30, 30, 30);
}


.lead{
    margin-right: 80%;
}
.btn-añadir{
    height: 10%;
}









/* SUPERPUESTO */

.superpuesto,.superpuesto2,.superpuesto3,.superpuesto4,.superpuesto5,.superpuesto6 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;

}
.superpuesto.active,.superpuesto2.active,.superpuesto3.active,.superpuesto4.active,.superpuesto5.active,.superpuesto6.active{
    display: flex;
}



.container-formulario{
    margin: 10px;
    display: flex;
    max-width: 900px;
    height: 500px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
    transition: all 1s ease;
    border-radius: 20px;
}

.material-symbols-outlined{
    background-color: #c976dc;
    border-radius: 50%;
    position: relative;
    top: 19%;
    left: 80%;
    font-size: 2rem;
    cursor: pointer;
}

.info{
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(225, 172, 236);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.info-bienvenido{
    width: 100%;
    padding: 0 30px;

}
.info-bienvenido h2{
    font-size: 3.5rem;
    color: #000000;
}
.info-bienvenido p{
    font-size: 1.3rem;
    margin: 15px 0;
    color: #000000;
}
.info-bienvenido input{
    background-color: transparent;
    outline: none;
    border: solid 2px rgb(202, 82, 212);
    border-radius: 20px;
    padding: 10px 20px;
    color: #58008b;
    cursor: pointer;
    transition: background-color .3s ease;
}
.info-bienvenido input:hover{
    background-color: #cc73ff;
    border: none;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}


.form-informacion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #f1daff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.form-informacion-childs{
    padding: 0 30px;
}
.form-informacion-childs h2{
    color: #000000;
    font-size: 3rem;
}
.form-informacion-childs p{
    font-size: 1.3rem;
    color: #000000;
}

.iconos{
    margin: 15px 0;
}
.iconos i{
    font-size: 2rem;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: #000000;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    border: solid thin rgb(204, 106, 207);
}
.iconos i:hover{
    background-color: #832db4;
    color: #ffffff;
}

.form{
    margin: 30px 0 0 0;
}
.form label{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.form label input{
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
}
.form label i{
    color: #a7a7a7;
    font-size: 2rem;
}
.form input[type="submit"]{
    font-size: 1.5rem;
    font-family: "montserrat";
    color: #000000;
    background-color: #e7beff;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: solid thin rgb(204, 106, 207);
    font-weight: 500;

}
.form input[type="submit"]:hover{
    background-color: #832db4;
    color: white;

}

.hide{
    position: absolute;
    transform: translateY(-300%);
}

/*PERSONALIZACION DE ALERTAS Y MENSAJES*/
.form div .alerta{
    width: 290px;
    text-align: left;
    border-radius: 7px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.form > .alerta-error,
.form > .alerta-exito{
    display: none;
}

#alertaExito {
    display: block;
    background-color: green;
    color: white;
}

#alertaError {
    display: block;
    background-color: red;
    color: white;
}

.alerta {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.form .alertaError{
    display: block;
    background-color: rgb(253, 122, 122);
    padding: .5rem 1rem;
    margin-top: 10px;
    font-weight: 500;
    font-size: .8rem;
}
.form .alertaExito{
    display: block;
    background-color: rgb(129, 242, 129);
    padding: .5rem 1rem;
    margin-top: 10px;
    font-weight: 500;
    font-size: .8rem;
}

.form .error{
    outline: solid 2px rgb(219, 0, 0);
}


#alerta-error{
    background-color: red;
    color: white;
}
#alerta-exito{
    background-color: green;
    color: white;
}


/*RESPONSIVO*/
@media screen and (max-width: 750px) {
    .info-bienvenido h2{
        font-size: 2.35rem;
        
    }
}

@media screen and (max-width: 580px){

    .container-formulario{
        height: auto;
        flex-direction: column;
    }
    .info{
        width: 100%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 20px;
    }

    .form-informacion{
        width: 100%;
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
    }

}




.Carrito-superpuesto-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 40vw;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow-y: unset;
    text-align: center;
}

#Carrito-superpuesto.active {
    display: flex;
}

.BotonCerrarCarrito {
    background: none;
    border-color: white;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    margin-left: 35%;

}

.img1-superpuesto,.Chocohelado-superpuesto,.tortasuperpuesto,.malteada-superpuesto {
    background-color: white;
    display: flex;
    height: 80vh;
    width: 80vw;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
}

.container1-superpuesto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 50%;
    width: 80%;
    height: 300%;
}

.container-1mitad-verproducto{
    height:45% ;
    background-color: aquamarine;
    background-size: 100% 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}



.container-2mitad-verproducto{
    max-height: 37%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}






.button {
    all:unset;
    height: 5%;
    width: 3%;
    border-color: rgb(0, 0, 0);
    font-size:20px;
    font-weight: bold;
    cursor: pointer;
    position: fixed; 
    top: 8%;
    right: 10%;
}







.footer {
    width: 360%;
    margin-left: -50rem;
    background-color: rgb(216, 194, 236);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12rem;
    box-sizing: border-box;
}

.footer-logo img {
    margin-left: clamp(1em, 4vw, 4em);
    margin-top: 0.6rem;
    height: 10rem;
    border-radius: 2rem;
    cursor: pointer;
}

.footer-info {
    display: flex;
    flex-direction: column;
    flex: start;
    font-size: clamp(1em, 2vw, 2em);
    font-family: sans-serif;
    font-weight: 550;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 1.5rem;


}

.footer-img {
    display: flex;
    align-items: center;
    cursor: pointer;

}

.footer-img .social-icon {
    height: 60px;
    margin-left: 1rem;
    cursor: pointer;
}

